# custom files
custom/

# temp files directories
cache/
log/
*.swp
.DS_Store

# editor configs
.vscode
.idea
a.out
*.o
*.so
*.a
main
*.a
*.o
minishell
objects/
outifle
infile
test
file1
file2
file3
file4
test/
minishell_tester
minishell-tester 
minishell_tester
a
b
c
d
e
out
in
.heredoc_tmp
fichier
finalfile
"c"
test1
tester.txt
tester1
tester2
tester3
tester4
tester5
tester6